html, body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #374151;
}

button, input {
  font-family: inherit;
  font-weight: inherit;
  font-display: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}